@import "../global/variables";

html {
  height: 100%;
  box-sizing: border-box;

  * {
    box-sizing: inherit;

    *::after {
      box-sizing: inherit;
    }

    *::before {
      box-sizing: inherit;
    }
  }
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: @base-font-family;
  font-size: @base-font-size;
  letter-spacing: @base-letter-spacing;
  line-height: @base-line-height;
  font-weight: 300;
  background-color: @white-color;
  background-image: url("../img/decor-top-left.svg");
  background-repeat: no-repeat;
  background-size: 330px 365px;
  background-position: 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

.overflow-hidden {
  overflow: hidden;
}

@media (max-width: @ipad-pro) {
  body {
    background-size: 150px 150px;
  }
}
