@import "../global/variables";

.benefits {
  position: relative;
  margin-top: 143px;
  padding-top: 191px;
  padding-bottom: 210px;
  color: @white-color;
  background-color: @aqua-color;
  background-image: url("../img/girl.svg"), url("../img/line-gradiend-background.jpg");
  background-size: 721px 665px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 91.5% 163px, center;
}

.benefits__left {
  width: 650px;
  padding-left: 5px;
}

.benefits__info p {
  margin: 20px 0;
  font-size: @base-font-size;
  line-height: @base-line-height;
  color: @white-color;
  font-weight: 300;
}

@media (max-width: @ipad-pro) {
  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 360px 360px, cover;
    background-position: 95% 70%, center;
  }
}

@media (max-width: @mobile-horizontal) {
  .benefits__left {
    width: 100%;
  }
}

@media (max-width: @mobile-l) {
  .benefits {
    margin-top: 80px;
  }
}
