@import "../global/variables";

.h1 {
  font-weight: 500;
  font-size: @base-font-size * 3 + 9px;
  line-height: @base-line-height * 3 - 1px;
  letter-spacing: normal;
}

.h1--promo {
  margin-top: 0;
  margin-bottom: 29px;
}

@media (max-width: @ipad-pro) {
  .h1 {
    font-size: @base-font-size * 3 - 1px;
    line-height: normal;
  }
}

@media (max-width: @tablet) {
  .h1 {
    font-size: @base-font-size * 3 - 15px;
  }

  .h1--promo {
    text-align: center;
  }
}

@media (max-width: @iphone-se) {
  .h1 {
    font-size: @base-font-size * 3 - 15px - 6px;
  }
}
