@import "../global/variables";

.h2 {
  font-size: @base-font-size * 3 - 1px;
  letter-spacing: normal;
  line-height: @base-line-height * 3 - 13px;
}

.h2--about-me {
  margin-top: 0;
  margin-bottom: 50px;
}

.h2--portfolio {
  margin-top: 0;
  margin-left: 9px;
  margin-bottom: 50px;
}

.h2--reviews {
  margin-top: 0;
  margin-bottom: 39px;
  z-index: 2;
}

.h2--price {
  padding-left: 6px;
  margin-top: 0;
  margin-bottom: 50px;
}

.h2--consultation {
  margin-top: 0;
  margin-bottom: 51px;
}

.h2--modal {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: @ipad-pro) {
  .h2 {
    line-height: normal;
    font-size: @base-font-size * 2.5;
  }

  .h2--about-me,
  .h2--reviews,
  .h2--consultation,
  .h2--modal {
    margin-bottom: 35px;
  }
}

@media (max-width: @tablet) {
  .h2 {
    font-size: @base-font-size * 2 - 6px;
  }

  .h2--about-me {
    text-align: center;
  }

  .h2--price {
    margin-bottom: 30px;
  }
}
