@import "../global/variables";

.site-header__inner {
  display: flex;
}

.site-header__request {
  width: 215px;
  padding-top: 20px;
  margin-left: auto;
}

.site-header {
  min-height: 73px;
}

.site-header--fixed .site-header__wrap {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: @white-color;
  box-shadow: 0 2px 15px rgba(@aqua-color, 0.2);
  animation-name: navbarfiexd;
  animation-duration: @animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: @timing-function;
}

.site-header--fixed .logo--header {
  padding-top: 0;
  line-height: 0;
}

.site-header--fixed .menu--header {
  padding-top: 19px;
}

.site-header--fixed .site-header__request {
  padding-top: 7px;
}

@keyframes navbarfiexd {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(-50%);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: @ipad-pro) {
  .site-header__request {
    width: 185px;
    text-align: right;
  }
}

@media (max-width: @tablet) {
  .site-header--fixed .menu--header {
    padding-top: 11px;
  }
}
